.img-circle {
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    width: 250px;
    height: 200px;
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

#search-menu {
    margin-top: 20px;
    font-weight: bold;
    color: white;
}

.restaurant-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#detail-image {
    height: 250px;
    width: 250px;
    border: 3px solid black;
}

#details-page {
    text-align: center;
    padding: 2px;
    margin-bottom: 28px;
    position: relative;
    color: black;
    font-weight: bold;
    font-size: 20px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}

#form {
    width: 66%;
}
#map {
    width: 300px;
    height: 300px;
}

#others {
    margin-bottom: 100px;
    padding: 5px;
}

caption {
    caption-side: top;
    font-size: 16px;
    font-weight: bold;
    background-color: blue;
    color: #ffffff;
    padding: 5px;
}

.rest-image {
    height: 100px;
    width: 100px;
}

.ui-autocomplete {
    position: relative;
    float: right;
    cursor: default;
    width: 200px;
    text-align: center;
}

#ui-id-1 {
    margin-top: -295px;
}

#ui-id-2 {
    margin-top: -210px;
}

#ui-id-3 {
    margin-top: -125px;
}

.ui-menu {
    margin: 185px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

div#mapWindow {
    margin-left: -22px;
}