.img-circle {
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    /* position: absolute; */
    width: 250px;
    height: 200px;
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

#search-menu {
    margin-top: 20px;
    font-weight: bold;
    color: white;
}

/* .form-control {
    width: 150%;
} */

/* .row {
    margin-left: 324px;
} */

.restaurant-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#detail-image {
    height: 300px;
    width: 300px;
    border: 3px solid black;
}

caption {
    caption-side: top;
}

#details-page {
    text-align: center;
    padding: 2px;
    margin-bottom: 28px;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#form {
    width: 66%;
}